<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page One</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <img src="assets/icon/favicon.ico" alt="" />

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
